@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;900&display=swap");

:root {
  --background-color: #0d1f23;
  --text-color: #afb3b7;
}

*,
* ::after,
* ::before {
  box-sizing: border-box;
}

body {
  font-family: Montserrat, sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style-type: none;
}
