@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;900&display=swap");

:root {
  --background-color: #0d1f23;
  --text-color: #afb3b7;
  --text-color-2: #0d1f23;
  --card-background: #2d4a53;
  --background-footer: #5a636a;
}

*,
* ::after,
* ::before {
  box-sizing: border-box;
}

body {
  font-family: Montserrat, sans-serif;
  scroll-behavior: smooth;
  background-color: var(--background-color);
  color: var(--text-color);
  margin: 0;
}
main {
  padding: 0 5rem;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style-type: none;
}

p,
h2,
h3 {
  margin: 0;
}
